body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Arial', sans-serif; 

  background-color: #f0f0f0; 
}

#restart {
  display: none;
}

/* Element | https://shrouded-abiding-haze.glitch.me/ */

#previousChapter {
  display: none;
}

/* Element | https://shrouded-abiding-haze.glitch.me/ */

#nextChapter {
  display: none;
}

/* Element | https://shrouded-abiding-haze.glitch.me/ */

#previousSlide {
  font-size: 0; /* You can uncomment this if needed */
}

/* Inline #3 | https://shrouded-abiding-haze.glitch.me/ */

.icon {
  height: 24px;
  width: 24px;
  font-size: 0;
  background: none;
  border: none;
}

.icon.previous {
  background-image: url("/previous.svg");
  background-color: #3498db; 
}

.icon.next {
  background-image: url("/next.svg");
  background-color: #e74c3c; 
}


.titles span {
  display: none;
  color: #333; 
}

.titles span:first-child {
  display: inline;
  color: #000; 
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding: 0 5vw;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.chapter {
  display: flex;
  transition: transform 500ms ease-in-out;
}

.chapter section {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5vw;
  align-items: center;
  font-size: 2rem; 
  color: #555; 
}
